@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/TableView"  method="post">
    <input type="text" name="txtEntry"  id="txtEntry"/>
    <button type="submit" value="Send">Submit</button>
</form>